*{list-style: none;}
.cabeçalho{background-color: rgba(31, 31, 119, 0.956);
text-align: center;
color: white;
display: flex;
justify-content:space-around;
align-items: center;

}

.rodape{background-color: rgba(31, 31, 119, 0.956);
color: white;
font-size: 20px; 
display: flex;
justify-content: space-between;

}


.S-Top{font-family:Arial;
       color: red; background-color: rgba(205, 199, 199, 0.888);}

.S-Low{background-color: bisque;
       font-family:Cambria;
       display: flex;
       justify-content: flex-start;
       align-items: center; }

ul{padding-left: 10px;
display: flex;}
           
li{padding-left: 10px;}

p{font-size: 20px;}